@font-face {
    font-family: Frizquadrata;
    src: url(Frizquadrata.otf);
}

#root {
    display: flex;
    justify-content: center;
}

.img{
    width: 35px;
    height: 35px;

}
.card-title, .card-subtitle{
    text-align: center;
    color: #ebb458;
    font-family: Frizquadrata;
}

.card-subtitle1{
    text-align: center;
    color: #ebb458;
    font-family: Frizquadrata;
    margin: 1px;
}

.card-title{
    margin: 0px;
    font-weight: bold;
    color: #f8d576;
}

.card-title1{
    text-align: center;
    color: #ebb458;
    font-family: Frizquadrata;
    margin: 5px;
    font-weight: bold;
    color: #f8d576;
}


.container{
    display: flex;
    justify-content: center;
}

.title{
    text-align: center;
}

.title1{
    text-align: center ;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.mr-3{
    width: 30%;
    height: 30%;
} 

.mb-0{
    color: black
}

.list-group{
    color: black;
}

.btn1{
    font-size: 15px;
    width: 110px;
    height: 40px;
    background: #163342;
    border: 2px solid #0ac2b9;
    border-radius: 2px;
    font-family: Frizquadrata;
    font-weight: bold;
    color: solid #90d9db;

}

.divButtonBack{
    text-align:center;
}

.divButton2{
    margin:0px auto;
}

.btn, #selectOrder{
    font-weight: bold;
    font-family: Frizquadrata;
    color: #ebb458;
    background-color: #1a1925;
    border: 1px solid #59371b;
    border-radius: 2px;
}

#buttonBack{
    display: inline;
    justify-content: center;
}

#selectOrder{
    height: 38px;
    width: 150px;
    margin: 10px;
}

#body{
    background-color: black;
}

.btn2{
    font-weight: bold;
    font-family: Frizquadrata;
    font-size: 15px;
    color: #ebb458;
    background-color: #1a1925;
    border: none;
    border-radius: none;
    margin:0px auto;
    text-decoration: underline;
}

.card{
    margin:10px auto;
    border: 2px solid #ebb458;
    background-color: #1a1925
}

.card1{
    margin:10px auto;
    border: 2px solid #ebb458;
    background-color: #1a1925;
    width: 1100px;
    height: 1450px;
    
}

#img{
    border: 6px solid #1a1925 
}

#imgSplash{
    margin: 0px auto;
}

.card-img-top{
    border: 25px solid #1a1925 
}

.card-text{
    color: gainsboro;
    font-size: 20px;
    font-family: Frizquadrata;
}

.card-title2{
    text-decoration: underline;
    color: gainsboro;
}

.info{
    font-family: Frizquadrata;
    color: gainsboro;
    font-size: 20px;
}

.list-group-item{
    background-color: #1a1925;
    color: gainsboro;
    width: 200px;
}

.container3, .container4, .container5, .container6{
    float:left;
    margin: 25px;
    font-family: Frizquadrata;
}









